<section class="ftco-section bg-light" id="skills-section">
    <div class="container">
        <div class="row justify-content-center pb-5">
            <div class="col-md-12 heading-section text-center ftco-animate">
                <h2 class="mb-4">Спасибо</h2>
                <p>Заявка принята</p>
            </div>
        </div>
      
    </div>
</section>